@font-face{
    font-family:"ITC Avant Garde Gothic"; /* ITC Avant Garde Gothic® W05 Paneuropean Demi Bold */
    src:url("../fonts/5194400/062deabb-8361-4e40-8c96-9427de08f71b.eot?#iefix");
    src:url("../fonts/5194400/062deabb-8361-4e40-8c96-9427de08f71b.eot?#iefix") format("eot"),url("../fonts/5194400/4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2") format("woff2"),url("../fonts/5194400/90882e39-7091-4415-b231-1e068ccdcc6f.woff") format("woff"),url("../fonts/5194400/9a138ac5-7740-4ac5-a2ae-2b142daf51d4.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:"ITC Avant Garde Gothic"; /* ITC Avant Garde Gothic® W05 Paneuropean Book */
    src:url("../fonts/5196939/b1c39c18-c327-4e95-826f-811e7d7e3d46.eot?#iefix");
    src:url("../fonts/5196939/b1c39c18-c327-4e95-826f-811e7d7e3d46.eot?#iefix") format("eot"),url("../fonts/5196939/ba8ec5e9-338d-44c8-bb1d-39c6ef18b162.woff2") format("woff2"),url("../fonts/5196939/0305fa91-8a67-429b-9735-aa28668028bf.woff") format("woff"),url("../fonts/5196939/437d3394-54a1-4167-8da9-bab0574fc816.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Form */

.mb-form{ 
    font-family: "ITC Avant Garde Gothic";
    position: relative;
    height: 40px;
    box-sizing: border-box;
}
.mb-input-group{ 
    width: 100%;
    border:solid 1px #2a282b;
    box-sizing: border-box;
}
.mb-input-email{ 
    width: 100%;
    padding: 6px 50px 6px 12px;
    background-color:#fff;
    border: none;
    height: 40px;
    font-size: 16px;
    min-height: 34px;
    position: relative; 
    box-sizing: border-box;
}
.mb-input-submit{ 
    min-width: 40px;
    height: 40px;
    background:#c43a2f;
    border:none;
    color:#fff;
    position:absolute;
    top:1px;
    right:1px;
    text-align: center;
    font-size: 22px;
    padding:0 10px;
    box-sizing: border-box;
    cursor: pointer;
    display:block;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.mb-iframe .mb-input-submit {
    -webkit-transition: none 0s;
    transition: none 0s;
}
.mb-input-submit:disabled {
    cursor: default;
}
.mb-input-label {
    display:none;
    color:#878787;
    font-size:13px;
}
.mb-form-success {
    font-weight:bold;
    color: #08a900;
    font-family: "ITC Avant Garde Gothic";
}
.mb-form-error {
    color: #c43a2f;
    font-weight: bold;
    margin-top:10px;
    font-family: "ITC Avant Garde Gothic";
}
.mb-form-loading-spinner {
    display:none;
    width: 24px;
    height: 24px;
  
    position: relative;
    margin: 0 auto 0 auto;
}
.mb-form-loading-bounce1, .mb-form-loading-bounce2 {
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: mb-bounce 2.0s infinite ease-in-out;
    animation: mb-bounce 2.0s infinite ease-in-out;
}
.mb-form-loading-bounce2 {
    background-color: #fff;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes mb-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes mb-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* Modalbox */

.mb-modalbox-overlay {
    font-family: "ITC Avant Garde Gothic";
    position:fixed;
    z-index:990;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(7,30,79,0.4);
    display:none;
}
.mb-modalbox-container {
    width:90%;
    height:auto;
    background:#fff;
    margin:auto;
    position: absolute;
    z-index:1010;
    top: 5%;
    left:5%;
    margin: 0 auto auto 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mb-modalbox-container:before {
    content: '×';
    font-size:30px;
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    top: -35px;
    right: -8px;
    color:#071e4f;
    cursor:pointer;
}
.mb-modalbox-title-container {
    background : #071e4f;
    color: #fff;
    height:79px;
}
.mb-modalbox-title-content {
    position: absolute;
    right: 0;
    top: 19px;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    font-weight:bold;
}
.mb-modalbox-content {
    padding:70px 20px 20px 20px;
    font-size: 16px;
}
.mb-modalbox-content strong{
    font-weight: normal;
    color:#e3000f;
}
.mb-modalbox-logo {
    position: absolute;
    top: 21px;
    left: 20px;
    max-height : 100px;
}

.mb-modalbox-container .mb-form{
    margin-top:30px;
    height:auto !important;
}
.mb-modalbox-container .mb-input-group,
.mb-iframe .mb-input-group{ 
    border:none !important;
}
.mb-modalbox-container .mb-input-email,
.mb-iframe .mb-input-email{ 
    /* border:solid 1px #071e4f; */
    border: solid 1px #C7C7C7;
    /* padding: 6px 12px 6px 12px; */
    padding: 0 10px;
    background-color:#fff;
    position: relative;
    /* height: 40px; */
    font-size: 16px;
    /* min-height: 34px; */
    box-sizing: border-box;
    line-height: 46px;
    height: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mb-modalbox-container .mb-input-email:focus,
.mb-iframe .mb-input-email:focus{
    border: solid 1px #134094;  
}
.mb-modalbox-container .mb-input-submit,
.mb-modalbox-container .mb-input-submit:disabled,
.mb-modalbox-container .mb-input-submit:disabled:hover,
.mb-iframe .mb-input-submit,
.mb-iframe .mb-input-submit:disabled,
.mb-iframe .mb-input-submit:disabled:hover {
    position: relative;
    top:auto;
    right:auto;
    background-color:#071e4f;
    display:block;
    color:#fff;
    font-size:20px;
    padding: 12px 23px;
    margin:30px auto;
    border:solid 2px #071e4f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: auto;
}
.mb-modalbox-container .mb-input-submit:hover,
.mb-iframe .mb-input-submit:hover{ 
    background-color:#fff;
    color:#071e4f;
}
.mb-modalbox-container .mb-input-label,
.mb-iframe .mb-input-label {
    display:block;
}
.mb-modalbox-container .mb-form-success,
.mb-iframe .mb-form-success {
    margin-top:30px;
}
@media (min-width:768px){
    .mb-modalbox-container {
        width:600px;
        top: 50%;
        left: 50%;
        margin: -255px auto auto -300px;
    }
    .mb-modalbox-title-container {
        height:110px;
    }
    .mb-modalbox-title-content {
        top: 19px;
        font-size: 28px;
        line-height: 36px;
    }
    .mb-modalbox-logo {
        top: 41px;
        left: 40px;
        max-height : 200px;
    }
    .mb-modalbox-content {
        padding:80px 40px 40px 40px;
    }
}